label {
  font-size: 1rem;
} 

input,
textarea {
  width: 100%;
  border: none;
  box-shadow: inset 0 -0.3em var(--shadow, var(--blue));
  padding: 0.5em;
}

input:focus,
textarea:focus {
  --shadow: var(--black);
}