.slide-up-enter-active,
.slide-up-leave-to,
.slide-down-enter-active,
.slide-down-leave-to,
.slide-from-left-enter-active,
.slide-from-left-leave-to {
  transition: transform 0.5s, opacity 0.4s var(--ease);
}

.slide-up-enter,
.slide-up-leave-to,
.slide-down-enter,
.slide-down-leave-to {
  opacity: 0;
}

.slide-up-enter,
.slide-up-leave-to {
  transform: translateY(3rem);
}

.slide-down-enter,
.slide-down-leave-to {
  transform: translateY(-3rem);
}

.slide-from-left-enter,
.slide-from-left-leave-to {
  transform: translateX(-3rem);
}